In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('student.csv')
data

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [10]:
# create a pandas Series object
animals = ['cat', 'dog', 'horse']
p_animals = pd.Series(animals)
p_animals

0      cat
1      dog
2    horse
dtype: object

In [11]:
type(p_animals)

pandas.core.series.Series

In [12]:
p_animals[2]

'horse'

In [14]:
animals = ['cat', 'dog', None]
p_animals = pd.Series(animals)
p_animals

0     cat
1     dog
2    None
dtype: object

In [16]:
numbers = [2, 20, 1.5]
p_numbers = pd.Series(numbers)
p_numbers

0     2.0
1    20.0
2     1.5
dtype: float64

In [17]:
numbers = [2, 20, None]
p_numbers = pd.Series(numbers)
p_numbers

0     2.0
1    20.0
2     NaN
dtype: float64

In [3]:
animals = {
    'n1': 'Tiger',
    'n2': 'Bear',
    'n3': None
}
p_animals = pd.Series(animals)
p_animals

n1    Tiger
n2     Bear
n3     None
dtype: object

In [30]:
# access the value at a specific location in the pandas Series
print(p_animals.iloc[1])

Tiger

In [33]:
# return index inside p_animals
p_animals.index

Index(['n1', 'n2', 'n3'], dtype='object')

In [34]:
# return values inside p_animals
p_animals.values

array(['Tiger', 'Bear', None], dtype=object)

In [35]:
p_animals = pd.Series(['Tiger', 'Bear', 'Mouse'], index=['n1', 'n2', 'n3'])
p_animals

n1    Tiger
n2     Bear
n3    Mouse
dtype: object

In [36]:
p_animals['n1']

'Tiger'

In [37]:
p_animals.loc['n1']

'Tiger'

In [4]:
for item in p_animals:
    print(f'salam {item}')

salam Tiger
salam Bear
salam None

In [2]:
import numpy as np

In [6]:
numbers = [2, 20, 1.5]
p_numbers = pd.Series(numbers)
np.sum(p_numbers)

23.5

In [14]:
items = [1, 2.5, 'Mouse']
p_items = pd.Series(items)
p_items

0        1
1      2.5
2    Mouse
dtype: object

In [17]:
for index, item in p_numbers.items():
    print(f'index {index}, item {item}')

index 0, item 2.0
index 1, item 20.0
index 2, item 1.5

In [5]:
animals = {
    'n1': 'Tiger1',
    'n2': 'Bear1',
    'n3': 'Mouse1'
}
p_animals = pd.Series(animals)
animals2 = {
    'n1': 'Tiger2',
    'n2': 'Bear2',
    'n3': 'Mouse2'
}
p_animals2 = pd.Series(animals2)
animals3 = {
    'n1': 'Tiger3',
    'n2': 'Bear3',
    'n3': 'Mouse3'
}
p_animals3 = pd.Series(animals3)

df = pd.DataFrame([p_animals, p_animals2, p_animals3], index=['r1', 'r2', 'r3'])
df

        n1     n2      n3
r1  Tiger1  Bear1  Mouse1
r2  Tiger2  Bear2  Mouse2
r3  Tiger3  Bear3  Mouse3

In [15]:
df.loc['r2']

n1    Tiger2
n2     Bear2
n3    Mouse2
Name: r2, dtype: object

In [17]:
df.loc['r2'].loc['n1']

'Tiger2'

In [19]:
df.loc['r2', 'n1']

'Tiger2'

In [20]:
df.T

        r1      r2      r3
n1  Tiger1  Tiger2  Tiger3
n2   Bear1   Bear2   Bear3
n3  Mouse1  Mouse2  Mouse3

In [24]:
df[['n2', 'n3']]

       n2      n3
r1  Bear1  Mouse1
r2  Bear2  Mouse2
r3  Bear3  Mouse3

In [27]:
df[['n2']]

       n2
r1  Bear1
r2  Bear2
r3  Bear3

In [28]:
df.loc[:, 'n2':'n3']

       n2      n3
r1  Bear1  Mouse1
r2  Bear2  Mouse2
r3  Bear3  Mouse3

In [31]:
# Remove the row labeled 'r1' from the DataFrame df in place
df.drop('r1', inplace=True)

In [32]:
df

        n1     n2      n3
r2  Tiger2  Bear2  Mouse2
r3  Tiger3  Bear3  Mouse3

In [33]:
df2 = df

In [34]:
df2.drop('r2', inplace=True)

In [35]:
df2

        n1     n2      n3
r3  Tiger3  Bear3  Mouse3

In [36]:
df

        n1     n2      n3
r3  Tiger3  Bear3  Mouse3

In [38]:
animals = {
    'n1': 'Tiger1',
    'n2': 'Bear1',
    'n3': 'Mouse1'
}
p_animals = pd.Series(animals)
animals2 = {
    'n1': 'Tiger2',
    'n2': 'Bear2',
    'n3': 'Mouse2'
}
p_animals2 = pd.Series(animals2)
animals3 = {
    'n1': 'Tiger3',
    'n2': 'Bear3',
    'n3': 'Mouse3'
}
p_animals3 = pd.Series(animals3)

df = pd.DataFrame([p_animals, p_animals2, p_animals3], index=['r1', 'r2', 'r3'])
df

        n1     n2      n3
r1  Tiger1  Bear1  Mouse1
r2  Tiger2  Bear2  Mouse2
r3  Tiger3  Bear3  Mouse3

In [39]:
df3 = df[['n1', 'n2']]
df3

        n1     n2
r1  Tiger1  Bear1
r2  Tiger2  Bear2
r3  Tiger3  Bear3

In [40]:
df3.drop('r1', inplace=True)

/tmp/ipykernel_5661/3794283810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop('r1', inplace=True)

In [41]:
df3

        n1     n2
r2  Tiger2  Bear2
r3  Tiger3  Bear3

In [43]:
df

        n1     n2      n3
r1  Tiger1  Bear1  Mouse1
r2  Tiger2  Bear2  Mouse2
r3  Tiger3  Bear3  Mouse3

In [44]:
df['n1']=1

In [45]:
df

    n1     n2      n3
r1   1  Bear1  Mouse1
r2   1  Bear2  Mouse2
r3   1  Bear3  Mouse3

In [46]:
df['n1'] = df['n1'] * 2

In [47]:
df

    n1     n2      n3
r1   2  Bear1  Mouse1
r2   2  Bear2  Mouse2
r3   2  Bear3  Mouse3

In [48]:
x2 = df['n2']

In [49]:
x2 += '_hi'

In [50]:
x2

r1    Bear1_hi
r2    Bear2_hi
r3    Bear3_hi
Name: n2, dtype: object

In [51]:
df

    n1        n2      n3
r1   2  Bear1_hi  Mouse1
r2   2  Bear2_hi  Mouse2
r3   2  Bear3_hi  Mouse3